@tailwind base;
@tailwind components;
@tailwind utilities;




/*//! Custom Scrollbar */
/* کل اسکرول‌بار */
::-webkit-scrollbar {
    width: 9px;
    /* عرض اسکرول‌بار */
    height: 9px;
    /* ارتفاع اسکرول‌بار برای اسکرول افقی */
}

::-webkit-scrollbar-track {
    background: #F3F6FD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cbced6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bec1ca;
}

/* اسکرول افقی */
::-webkit-scrollbar-track:horizontal {
    background: #F3F6FD;
}

/* اسکرول‌بار برای تمام مرورگرها */
.scrollbar-custom {
    scrollbar-width: thin;
    /* عرض باریک برای فایرفاکس */
    scrollbar-color: #888 #f0f0f0;
    /* رنگ thumb و track */
}